body {
  background: #eee;
  color: #111;
  font-size: 16px;
}
h1 {
  text-align: center;
  color: #777;
}
.container {
  max-width: 600px;
  margin: 40px auto;
}
.todo-list {
  list-style: none;
  padding: 10px;
}
.todo-list > li {
  margin: 10px 0;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
.completed-todo {
  color: #999;
  text-decoration: line-through;
}
.todo-container {
  display: flex;
  justify-content: space-between;
}
.todo-actions > button {
  margin: 0 5px;
}
input {
  font-size: 16px;
  height: 32px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 0 10px;
}
.filter-todo {
  list-style: none;
  margin: 10x 0;
  padding: 0;
}
.filter-todo > li {
  display: inline-block;
  margin: 0 10px;
}
.todo-filter {
  font-size: 16px;
  height: 32px;
  width: 200px;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 0 10px;
  margin-bottom: 10px;
}
.error-msg {
  border: 1px solid red;
}